<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Customer Name</h2>
            <h4>Customer@email.com</h4>
        </div>
        <img src="https://cdn.hswstatic.com/gif/stock-market-breaker.jpg" alt="">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <!-- <a mat-list-item >Cash Accounts</a> -->
    <a mat-list-item>Cash {{reportCashTotal | currency}}</a>
    <app-cash-accounts
    (getDetails)="handleGetAccountDetails($event)"
    (getCashAccount)="handleShowCashAccountDetals()"
  >
  </app-cash-accounts>

    <a mat-list-item>Investment Accounts {{reportInvestmentTotal | currency}}</a>

    <app-investment-accounts
      (getDetails)="handleGetAccountDetails($event)"
      (getInvestmentAccount)="handleShowInvestmentAcountDetails()">
    </app-investment-accounts>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>import_contacts</mat-icon>
        Buy
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>contact_phone</mat-icon>
        Sell
    </a>


</mat-nav-list>
