<div>
    <app-widget-area></app-widget-area>
</div>

<mat-divider></mat-divider>

<section>
  <h3>Your Gainers:</h3>
  <ul>
    <li *ngFor="let gainer of (reportedGainers | slice:0:5 || []); let i=index" [hidden]="gainer.percentChange<0">
      <span>{{gainer.ticker}} | {{gainer.percentChange}}%</span>

    </li>
  </ul>
  <h3>Your Losers:</h3>
  <ul>
    <li *ngFor="let gainer of (reportedGainers | slice:0:5 || []); let i=index">
      <!--<span>{{gainer.ticker}} | {{gainer.percentChange}}%</span>-->

    </li>
  </ul>
</section>

<mat-divider></mat-divider>

<div>
    <div>Table</div>
    <div>Pie Chart</div>
</div>
