<section>
  <h2>{{reportedAccount.name}} -- {{reportedAccount.description}}</h2>
  <h3>Account Activity:</h3>
  <ul *ngIf="reportedTransactions!=[]">
    <li *ngFor="let transaction of reportedTransactions">
      <!--<app-cash-transaction></app-cash-transaction>-->
      <p>
        Entity: {{transaction.ticker}} |
        <span [hidden]="transaction.quantity<0">{{transaction.quantity}} (Buy) |</span>
        <span [hidden]="transaction.quantity>0">{{transaction.quantity}} (Sell) |</span>
        {{transaction.priceper | currency}}
      </p>
    </li>
  </ul>
</section>
<section>
  <h3>Current Holdings:</h3>
  <ul>
    <li *ngFor="let holding of reportedHoldings">
      <p>
        Entity: {{holding.ticker}} | Quantity: {{holding.quantity}}
      </p>
    </li>
  </ul>
</section>
