<!-- <section>
  <h3>Total networth {{reportNetworth | currency }}</h3>
    <app-cash-accounts
      (getDetails)="handleGetAccountDetails($event)"
      (getCashAccount)="handleShowCashAccountDetals()"
    >
    </app-cash-accounts>
    <app-investment-accounts
      (getDetails)="handleGetAccountDetails($event)"
      (getInvestmentAccount)="handleShowInvestmentAcountDetails()"
    >
    </app-investment-accounts>
    <app-networth></app-networth>
    <app-investment-insights></app-investment-insights> -->
    <!--<app-account-info [displayAccountId]="accountDisplayId" ></app-account-info>-->
    <!-- <app-cash-details [hidden]="toggleCashVal==0" [displayId]="accountDisplayId"></app-cash-details>
    <app-investment-details [hidden]="toggleInvestmentVal==0" [displayId]="accountDisplayId" ></app-investment-details>
</section> -->

